.appBar {
    display: flex;
    padding: 1rem 0 2rem 0;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    margin: 1rem auto 2rem auto;
}
.headerText {
    font-family: "Roboto";
    font-size: 3vw;
    margin: 0 auto;
    text-align: center;
}
.navBtnGroup {
    width: 50%;
    border: 0.1rem solid;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 0.7rem #151238;
    padding: 0.04rem;
}

.addbook {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 15rem auto 0 auto;
}

.addbookModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background: #fff;
    border: none;
    border-radius: 5px;
    padding: 2.5rem;
    box-shadow: 24;
}
.addbookModalBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 1.5rem auto 0 auto;
}
.addbookModalConfirm {
    width: 45%;
}
.addbookModalCancel {
    width: 45%;
}

.listBook {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 15rem auto 10rem auto;
}
.listBookItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5rem auto;
}

@media screen and (max-width: 1600px) {
    .headerText {
        font-size: 3.5vw;
    }
}
@media screen and (max-width: 1400px) {
    .headerText {
        font-size: 3.75vw;
    }
    .navBtnGroup {
        width: 60%;
    }
    .addbook {
        width: 60%;
    }
    .addbookModal {
        width: 50%;
        padding: 2rem;
    }
    .addbookModalBtn {
        margin: 1.25rem auto 0 auto;
    }

    .listBook {
        width: 60%;
    }
}
@media only screen and (max-width: 1200px) {
    .headerText {
        font-size: 4vw;
    }
    .navBtnGroup {
        width: 65%;
    }

    .addbook {
        width: 65%;
    }
    .addbookModal {
        width: 55%;
        padding: 2rem;
    }
    .addbookModalBtn {
        margin: 1.25rem auto 0 auto;
    }

    .listBook {
        width: 65%;
    }
}
@media only screen and (max-width: 1000px) {
    .headerText {
        font-size: 4.5vw;
    }
    .navBtnGroup {
        width: 70%;
    }

    .addbook {
        width: 70%;
    }
    .addbookModal {
        width: 60%;
        padding: 1.75rem;
    }
    .addbookModalBtn {
        margin: 1rem auto 0 auto;
    }

    .listBook {
        width: 70%;
    }
}
@media only screen and (max-width: 800px) {
    .headerText {
        font-size: 5vw;
    }
    .navBtnGroup {
        width: 75%;
    }

    .addbook {
        width: 75%;
        margin: 14rem auto 0 auto;
    }
    .addbookModal {
        width: 65%;
        padding: 1.5rem;
    }
    .addbookModalBtn {
        margin: 1rem auto 0 auto;
    }

    .listBook {
        width: 75%;
        margin: 14rem auto 10rem auto;
    }
}
@media only screen and (max-width: 600px) {
    .headerText {
        font-size: 6vw;
    }
    .navBtnGroup {
        width: 80%;
    }

    .addbook {
        width: 80%;
        margin: 13rem auto 0 auto;
    }
    .addbookModal {
        width: 70%;
        padding: 1.25rem;
    }
    .addbookModalBtn {
        margin: 0.8rem auto 0 auto;
    }

    .listBook {
        width: 80%;
        margin: 13rem auto 10rem auto;
    }
}
@media only screen and (max-width: 360px) {
    .headerText {
        font-size: 6.5vw;
    }
    .navBtnGroup {
        width: 90%;
    }

    .addbook {
        width: 90%;
        margin: 12rem auto 0 auto;
    }
    .addbookModal {
        width: 80%;
        padding: 1rem;
    }
    .addbookModalBtn {
        margin: 0.75rem auto 0 auto;
    }

    .listBook {
        width: 90%;
        margin: 12rem auto 10rem auto;
    }
}

@media only screen and (min-width: 2000px) {
    .headerText {
        font-size: 6rem;
    }
    .navBtnGroup {
        width: 80rem;
    }

    .addbook {
        width: 80rem;
        margin: 18rem auto 0 auto;
    }
    .addbookModal {
        width: 70rem;
    }

    .listBook {
        width: 80rem;
        margin: 18rem auto 15rem auto;
    }
}
